:root {
    font-family: monospace;
    font-size: larger;
}

#app {
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;

    display: grid;
    grid-template-columns: 1fr;
}

button {
    font-family: monospace;
}

input {
    font-family: monospace;
}
